fastapi
uvicorn[standard]
motor
pymongo
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
cloudinary
qrcode[pil]
Pillow
python-dotenv
websockets
mongomock-motor